<!-- templates/404.html -->
{% extends 'base.html' %}
{% block title %}Page Not Found{% endblock %}
{% block content %}
    <h1>404 - Page Not Found</h1>
        <p>The requested page does not exist.</p>
            <a href="{{ url_for('index') }}" class="btn btn-primary">Home</a>
            {% endblock %}
            
            <!-- templates/500.html -->
            {% extends 'base.html' %}
            {% block title %}Server Error{% endblock %}
            {% block content %}
                <h1>500 - Internal Server Error</h1>
                    <p>Something went wrong. Please try again later.</p>
                        <a href="{{ url_for('index') }}" class="btn btn-primary">Home</a>
                        {% endblock %}-->